#
# Onion HA
# Copyright 2017-2020 Valentin BELYN
# GNU General Public License v3.0
# https://github.com/ValentinBELYN/OnionHA
#

[Unit]
Description=Onion HA
Documentation=https://github.com/ValentinBELYN/OnionHA
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/local/bin/oniond

[Install]
WantedBy=multi-user.target
